<div class="index-text">
<div class="center hero-unit">
	<h1>amzBETA</h1>
	<h2>This is the home page of amzBETA.</h2>
		<%= link_to "Register now!", register_path ,class: "btn btn-large btn-primary" %>
		
	
	
</div>
</div>
